{{- if and .Values.config.minio.tier.enabled (not .Values.config.minio.tier.aws.auth.secretName) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "minio-config.tier.aws.secretName" . }}
type: Opaque
data:
  {{ include "minio-config.tier.aws.accessKey" . }}: {{ .Values.config.minio.tier.aws.auth.accessKeyID | b64enc }}
  {{ include "minio-config.tier.aws.secretKey" . }}: {{ .Values.config.minio.tier.aws.auth.secretAccessKey | b64enc }}
{{- end }}
