{{- if and .Values.config.redis.auth.enabled (not .Values.redis.enabled) (not .Values.config.redis.auth.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "redis.auth.secretName" . }}
type: Opaque
data:
  {{ include "redis.auth.secretPasswordKey" . }}: {{ .Values.config.redis.auth.password | b64enc }}
{{- end }}
